html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Anton", sans-serif;
  background-color: antiquewhite;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator {
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 40px;
}

#first-row {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
  gap: 3px;
}

button {
  width: 100px;
  height: 100px;
}

#screen {
  border: 2px black solid;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

/*HEADER*/
header {
  font-family: "Anton", sans-serif;
  background-color: purple;
  text-shadow: rgb(243, 242, 237) 1px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

/*main*/
main {
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70%;
}

/*footer*/
footer {
  background-color: antiquewhite;
  font-family: "Anton", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
}
footer p {
  text-shadow: rgb(64 32 222 / 71%) 1px 0 10px;
}

/*CALCULATOR*/
.number,
#clear {
  background-color: rgb(83, 76, 76);
  color: antiquewhite;
  font-size: 1em;
  border-radius: 10px;
}

.operator,
.equal {
  background-color: blanchedalmond;
  color: black;
  font-size: 1em;
  border-radius: 10px;
}

#current {
  font-size: 2em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
#previous {
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}
