body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

#calculator {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#first-row {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
  gap: 3px;
}

button {
  width: 50px;
  height: 50px;
}

#screen {
  border: 2px black solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/*HEADER*/
header {
  font-family: "Anton", sans-serif;
  background-color: purple;
  text-shadow: rgb(243, 242, 237) 1px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
}
